*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background: linear-gradient(rgb(0,0,0,0.5) , rgb(0,0,0,0.5) ) , url(./background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}


.container{

   
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-evenly;
    width: 40%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.538);
    backdrop-filter: blur(10px);
    text-align: center;
    border-radius: 10px;
    display: flex;
    border: 1px solid white;
}


.container p{

    margin-top: 10px;
    font-size: 80px;
}

.container span{

    margin-top: -20px;
    font-size: 30px;
    margin-bottom: 10px;
}

h1{

    position: absolute;
    top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 60px;


}

#tp{

    position: absolute;
    top: 25%;
    left: 20%;
    transform: rotateX(150deg);
    
}

#tp2{

    position: absolute;
    bottom: 20%;
    right: 15%;
    z-index: -1;
    height: 300px;
    width: 350px;


    
}


